.card{
    background-color:rgba(255,255,255,0.2);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    border-radius:1rem;
}
.bg-image{
    overflow:hidden;    
}
.img-fluid{
    transition: all 0.3s ease;
}
.img-fluid:hover{
    transform: scale(1.05);

}