.main{
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
    height: 80vh;
    background-attachment: fixed;
}
.Quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}